@media (max-width: 1200px){
    .footer{
        &__info{
            bottom: 0;
            top: auto;
        }
    }
}
@media (max-width: 992px){
    .carousel{
        &__inner{
            .slick-dots{
                margin-top: 15px;
                display: flex;
                justify-content: center;
                list-style-type: none;
                li{
                    margin: 0 5px;
                    font-size: 0;
                    button{
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                        background-color: white;
                    }
                }
            }
        }
    }
    .catalog{
        &__content{
            margin-top: 50px;
            justify-content: space-around;
        }
    }
}

@media (max-width: 767px){
    .promo{
        min-height: 570px;
        padding-bottom: 50px;
        .header{
            &__logo{
                width: 230px;
            }
            &__official{
                span{
                    font-size: 16px;
                }
            }
            &__phone{
                font-size: 16px;
            }
        }
        &__wrapper{
            padding-top: 65px;
        }
        &__header{
            font-size: 35px;
        }
        &__subheader{
            font-size: 20px;
        }
        &__icons{
            margin-top: 30px;
            width: 370px;
        }
        &__icon{
            width: 90px;
            font-size: 10px;
        }
    }
    .benefits{
        min-height: 420px;
        padding: 40px 0 40px;
        &__wrapper{
            margin-top: 30px;
        }
        &__subtitle{
            margin-top: 30px;
            font-size: 16px;
        }
        &__text{
            font-size: 13px;
        }
    }
    .title{
        &_left{
            font-size: 28px;
            line-height: 1.2;
            text-align: center;
        }
    }
    .consultation {
        min-height: 495px;
        padding: 15px 0 25px 0;
        &__subtitle{
            margin-top: 60px;
            font-size: 14px;
            text-align: center;
        }
    }
    .feed-form{
        margin: 0 auto;
    }
    .carousel{
        &__inner{
            width: 500px;
        }
        &__slide{
            img{
                width: 100%;
            }
        }
    }
    .catalog{
        margin-bottom: 50px;
        &-product{
            width: 284px;
        }
        &__tab{
            width: 150px;
            height: 35px;
            font-size: 14px;
            line-height: 33px;
        }
    }
    .feedback{
        &-item{
            margin-top: 50px;
            &:nth-child(1){
                margin-top: 40px;
            }
            &__avatar{
                width: 115px;
                height: 115px;
                margin-right: 30px;
            }
            &__name{
                font-size: 15px;
            }
            &__achievement{
                margin-top: 5px;
                font-size: 11px;
            }
            &__text{
                margin-top: 10px;
                font-size: 12px;
                line-height: 1.2;
            }
        }
    }
    .footer{
        &__info{
            width: 360px;
            height: 200px;
        }
        &__addr{
            margin-top: 25px;
        }
    }
}
@media (max-width: 575px){
    .promo{    
        min-height: 480px;
        padding-bottom: 25px;
        .header{
            &__logo{
                img{
                    width: 95%;
                }
            }
            &__official{
                display: none;
            }
            &__phone{
                font-size: 14px;
            }
            &__contacts{
                align-items: center;
            }
        }
        &__wrapper{
            padding-top: 35px;
            align-items: center;
        }
        &__header{
            font-size: 25px;
        }
        &__subheader{
            font-size: 15px;
        }
        &__icons{
            margin-top: 25px;
            width: 320px;
        }
        &__link{
            text-align: center;
            .xxs{
                display: block;
            }
        }
    }
    .button{
        width: 145px;
        height: 20px;
        &_main{
            margin-top: 50px;
            width: 300px;
            height: 45px;
        }
        &_feed{
            width: 100%;
            height: 50px;
        }
        &_product{
            width: 130px;
            height: 25px;
            font-size: 14px;
        }
    }
    .benefits{
        min-height: 400px;
        padding: 25px 0 25px;
        &__wrapper{
            display: block;
            margin-top: 20px;
        }
        &__item{
            margin: 0 auto;
        }
        &__subtitle{
            margin-top: 5px;
            font-size: 16px;
        }
        &__text{
            font-size: 12px;
            margin-top: 5px;
            padding-bottom: 30px;
        }
    }
    .title{
        font-size: 22px;
    }
    .consultation {
        min-height: 500px;
        &__subtitle{
            margin-top: 40px;
        }
    }
    .carousel{
        padding: 45px 0;
        &__inner{
            width: 300px;
        }
        &__slide{
            img{
                width: 100%;
            }
        }
    }
    .catalog{
        &__tabs{
            display: block;
            margin-top: 20px;
        }
        &__tab{
            margin: 5px auto;
        }
        &__content{
            margin-top: 30px;
        }
        &-product{
            width: 150px;
            padding: 10px 10px 15px 10px;
            &_img{
                padding-left: 0;
                width: 100px;
                height: 150px;
            }
            &__subtitle{
                margin-top: 10px;
                font-size: 13px;
                padding-right: 5px;
            }
            &__descr{
                margin-top: 10px;
                font-size: 10px;
                padding-right: 5px;
            }
            &__content{
                transform: translateX(-125%);
                &_active{
                    transform: translateX(0%);
                }
            }
            &__list{
                padding-right: 0px;
                &_active{
                    transform: translateX(-105%);
                }
                li{
                    font-size: 10px;
                    margin-bottom: 5px;
                }
            }
            &__link{
                margin-top: 10px;
                font-size: 12px;
            }
            &__back{
                position: absolute;
                bottom: 0;
                left:50%;
                transform: translateX(-55%);
                font-size: 12px;
            }
            &__footer{
                margin-top: 15px;
                display: block;
            }
            &__old_price{
                font-size: 13px;
            }
            &__price{
                font-size: 18px;
            }
        }
    }
    .feedback{
        &-item{
            display: block;
            margin-top: 25px;
            &:nth-child(1){
                margin-top: 15px;
            }
            &__avatar{
                width: 90px;
                height: 90px;
                margin: 0 auto;
                display: block;
            }
            &__name{
                text-align: center;
                margin-top: 5px;
            }
            &__achievement{
                margin-top: 1px;
                font-size: 10px;
                text-align: center;
            }
            &__text{
                margin-top: 10px;
                font-size: 11px;
                padding: 0 20px;
                text-align: justify;
            }
        }
    }
    .footer{
        height: 400px;
        iframe{
            height: 400px;
        }
        &__info{
            width: 320px;
            height: 130px;
        }
        &__addr{
            margin-top: 10px;
            line-height: 16px;
            font-size: 16px;
        }
        &__phone{
            margin-top: 15px;
            font-size: 18px;
            line-height: 18px;
        }
        &__socials{
            margin-top: 20px;
        }
        &__social{
            width: 40px;
            height: 40px;
        }
    }
    .modal{
        width: 280px;
        transform: translate(-53%, -50%);
        padding: 20px 25px 35px 25px;
        &__close{
            right: -23px;
        }
    }
    .feed-form_mt25{
        width: 240px;
        margin-top: 10px;
    }
    .pageup{
        bottom: 30px;
        right: 20px;
    }
}